---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import { imageMap } from "../lib/images";
import { getCollection } from "astro:content";

const sideProjects = await getCollection("side-projects", ({ data }) => {
  return !data.draft;
});
---

<Layout title="About | Charles E. Amyx, III">
  <section
    class="container transition-all duration-150 ease-in-out mx-auto px-4 pt-12 md:pt-16 lg:pt-24 pb-12 md:pb-10 lg:pb-12"
  >
    <div class="max-w-3xl mx-auto">
      <h1 class="text-3xl font-semibold mb-8">About Me</h1>

      <div
        class="prose prose-p:text-text/90 prose-headings:text-text prose-lg mb-12"
      >
        <p>
          Hi from Ann Arbor, Michigan! I specialize in creating engaging and
          user-friendly web experiences using modern technologies.
        </p>

        <p>
          When I'm not working, I enjoy spending time with my family, reading,
          painting, <a
            href="https://soundcloud.com/user-585057580"
            target="_blank"
            class="custom-link text-primary hover:text-text transition-colors"
            rel="noopener noreferrer">playing music</a
          >, and <a
            href="https://vanishingdew.com/"
            target="_blank"
            rel="noopener noreferrer"
            class="custom-link text-primary hover:text-text transition-colors"
            >photography</a
          >. I also enjoy fly fishing, hiking, camping, hunting, and just being
          outdoors.
        </p>
      </div>
    </div>

    <div class="mx-auto max-w-3xl">
      <div class="flex flex-col space-y-4 mb-12 mt-20">
        <div
          class="prose prose-p:text-text/90 prose-headings:text-text prose-lg"
        >
          <h2 class="text-2xl font-semibold mb-4">Side Projects</h2>
          <p>
            Here are a few projects that I like to tinker with in my spare time:
          </p>
        </div>
        <ul
          class="grid grid-cols-1 md:grid-cols-2 gap-8 list-none pl-0 relative"
        >
          {
            sideProjects.map((project, index) => {
              const imageModule = imageMap[project.data.image];
              if (!imageModule) return null;
              return (
                <li>
                  <Card
                    href={`/about/side-projects/${project.slug}`}
                    title={project.data.title}
                    image={imageModule}
                    type={project.data.type}
                    loading={index < 4 ? "eager" : "lazy"}
                    isSideProject={true}
                    slug={project.slug}
                  />
                </li>
              );
            })
          }
        </ul>
      </div>
    </div>
  </section>
</Layout>
