---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";

const experiences = await getCollection("resume");
const sortedExperiences = await Promise.all(
  experiences
    .sort((a, b) => a.data.order - b.data.order)
    .map(async (experience) => {
      const { Content } = await experience.render();
      return { ...experience, Content };
    })
);
const skills = [
  "JavaScript",
  "UI Design",
  "UX Design",
  "Accessibility",
  "HTML",
  "CSS",
  "TailwindCSS",
  "VueJS",
  "Astro",
  "Svelte",
  "NextJS",
  "Core Web Vitals",
  "WordPress",
];
---

<Layout title="Résumé | Charles E. Amyx, III">
  <section
    class="container transition-all duration-150 ease-in-out mx-auto px-4 pt-12 md:pt-16 lg:pt-24"
  >
    <div
      class="prose prose-lg prose-p:text-text/90 prose-ul:text-text/80 prose-headings:text-text max-w-3xl mx-auto"
    >
      <h1 class="text-3xl font-semibold mb-8">Résumé</h1>
      <p class="text-lg mb-8">
        Senior UI/UX designer and frontend developer with 15+ years of
        experience in educational and corporate sectors. Expertise in HTML, CSS,
        JavaScript, and modern web technologies. Proven track record in leading
        website redesigns, improving performance, and enhancing user
        experiences.
      </p>
      <p class="text-lg mb-8">
        Throughout my career, I've focused on building accessible, performant,
        and user-friendly web applications. I'm passionate about creating
        inclusive digital experiences that work for everyone.
      </p>
      <p class="text-lg mb-8">Based in Ann Arbor, Michigan.</p>

      <section class="mb-12">
        <h2 class="text-2xl font-semibold mb-4">Skills</h2>
        <div class="flex flex-wrap gap-2">
          {
            skills.map((skill) => (
              <span class="bg-muted text-base px-3 py-1 rounded-full text-text/80 skill-tag">
                {skill}
              </span>
            ))
          }
        </div>
      </section>
      <section>
        <h2 class="text-2xl font-semibold mb-4">Experience</h2>
        <ul class="list-none pl-0 mb-0">
          {
            sortedExperiences.map((experience) => (
              <li
                class:list={[
                  "pl-4 py-2 my-0 last:pb-12 first:pb-12",
                  "border-l-4",
                  experience.data.endDate === "Present"
                    ? "border-primary"
                    : "border-accent/20",
                ]}
              >
                <h2
                  class:list={[
                    "text-text text-xs xl:text-sm mb-0 font-normal tracking-wider",
                    experience.data.endDate === "Present"
                      ? "text-text"
                      : "text-text/70",
                  ]}
                >
                  {experience.data.company}
                </h2>
                <h3
                  class:list={[
                    "text-2xl  font-semibold",
                    experience.data.endDate === "Present"
                      ? "text-text"
                      : "text-text/70",
                  ]}
                >
                  {experience.data.position}
                </h3>
                <p
                  class:list={[
                    "text-sm ",
                    experience.data.endDate === "Present"
                      ? "text-text"
                      : "text-text/70",
                  ]}
                >
                  {experience.data.startDate} - {experience.data.endDate}
                </p>
                <div
                  class:list={[
                    "mt-2 prose max-w-none",
                    experience.data.endDate === "Present"
                      ? "text-text"
                      : "text-text/70",
                  ]}
                >
                  <experience.Content />
                </div>
              </li>
            ))
          }
        </ul>
      </section>
    </div>
  </section>
</Layout>
