---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";

const experiences = await getCollection("resume");
const sortedExperiences = await Promise.all(
  experiences
    .sort((a, b) => a.data.order - b.data.order)
    .map(async (experience) => {
      const { Content } = await experience.render();
      return { ...experience, Content };
    })
);
const skills = [
  "JavaScript",
  "React",
  "UI Design",
  "UX Design",
  "Accessibility",
  "TypeScript",
  "HTML",
  "CSS",
  "TailwindCSS",
  "VueJS",
  "Astro",
  "Svelte",
  "NextJS",
  "Core Web Vitals",
  "WordPress",
];
---

<Layout title="Résumé | Charles E. Amyx, III">
  <section class="container mx-auto px-4 pt-12 md:pt-16 lg:pt-24">
    <div class="prose prose-lg max-w-3xl mx-auto">
      <h1 class="text-3xl font-semibold mb-8">Résumé</h1>
      <p class="text-lg mb-8">
        Senior Frontend Developer and UI/UX Designer with 15+ years of
        experience in educational and corporate sectors. Expertise in HTML, CSS,
        JavaScript, and modern web technologies. Proven track record in leading
        website redesigns, improving performance, and enhancing user
        experiences. Based in Ann Arbor, Michigan.
      </p>
      <section class="mb-12">
        <h2 class="text-2xl font-semibold mb-4">Skills</h2>
        <div class="flex flex-wrap gap-2">
          {
            skills.map((skill) => (
              <span class="bg-neutral px-3 py-1 rounded-full text-primary skill-tag">
                {skill}
              </span>
            ))
          }
        </div>
      </section>
      <section class="mb-12">
        <h2 class="text-2xl font-semibold mb-4">Experience</h2>
        <ul class="list-none pl-0">
          {
            sortedExperiences.map((experience) => (
              <li class="border-l-4 border-gray-200 pl-4 py-2 my-0 last:pb-12">
                <h2 class="text-xl mb-0 font-extrabold">
                  {experience.data.company}
                </h2>
                <h3 class="text-lg text-gray-600 font-semibold">
                  {experience.data.position}
                </h3>
                <p class="text-sm text-gray-500">
                  {experience.data.startDate} - {experience.data.endDate}
                </p>
                <div class="mt-2 prose prose-sm max-w-none">
                  <experience.Content />
                </div>
              </li>
            ))
          }
        </ul>
      </section>
    </div>
  </section>
</Layout>
